#
# this is the configuration file for rinetd, the internet redirection server
#
# you may specify global allow and deny rules here
# only ip addresses are matched, hostnames cannot be specified here
# the wildcards you may use are * and ?
#
# allow 192.168.2.*
# deny 192.168.2.1?


#
# forwarding rules come here
#
# you may specify allow and deny rules after a specific forwarding rule
# to apply to only that forwarding rule
#
# bindadress    bindport  connectaddress  connectport
{% if memcached is defined and memcached.cached_port_external is defined %}
0.0.0.0 {{memcached.cached_port_external}}			      localhost {{memcached.cached_port}}
{% endif %}

{% if etherallow is defined and memcached is defined %}
{% for allow_key, allow_value in etherallow.items() %}
# allows for {{allow_key}}
{% for ipwildcard in allow_value %}
allow {{ipwildcard}}
{% endfor %}
{% endfor %}
{% endif %}


# logging information
logfile /var/log/rinetd.log

# uncomment the following line if you want web-server style logfile format
# logcommon
